<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix">
            <div class="pull-left">
                <h1 class="list-group-item-heading">Recipe Name</h1>
                <p class="list-group-item-text">Description</p>
              
            </div>
            <span class="pull-right"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.btiLYZZEhAgjQxgiOqAq3gHaJQ%26pid%3DApi&f=1" alt="" class="img-responsive" style="max-height: 50px;"></span>
        </a>
        <app-recipe-item></app-recipe-item>

    </div>
</div>
